html,
body {
  padding: 0;
  margin: 0;
  font-family: MyriadProRegular, serif !important;
  width: 100%;
}

/*HEADER*/

.container-fluid{
  background: #f0efef;
}

.email {
  padding-left: 27px;
  height: 25px;
  margin-top: 135px;
  background: url("icon/sv.png") no-repeat;
  background-size: 25px;
}

.number-phone {
  padding-left: 27px;
  height: 25px;
  margin-top: 10px;
  background: url("icon/phone.png") no-repeat;
  background-size: 25px;
}

.photo{
  background: url("image/MarinaSebalo.png") no-repeat;
  background-size: 175px;
  height: 200px;
  width: 175px;
  position: relative;
}

.greeting {
  position: absolute;
  top: -3px;
  left: -90px;
  color: #fa5559;
  font-size: 20px;
  transform: rotate(-5deg);
}

.little-decoration {
  position: absolute;
  top: 15px;
  left: -75px;
  margin-top: 10px;
  width: 75px;
  height: 50px;
  background: url("icon/line.png") no-repeat;
  background-size: 70px;
}


.name {
  font-size: 60px;
  color: #fa5559;
}

.specialization {
  font-size: 40px;
}

@media only screen and (max-width: 767px) {
  .email{
    margin: 10px auto 0 auto;
    width: 300px;
  }
  .number-phone {
    margin: 10px auto 0 auto;
    width: 300px;
  }
  .photo{
    margin: 0 auto;
  }
}

.page-division{
  background: #fff;
  border-bottom: 80px solid #808080;
}

/*HEADER END*/

/*EXPIRIENCE*/

.container-fluid h2{
  color: #fa5559;
  border-bottom: 3px dotted #fa5559;
  display: block;
  margin: 30px auto;
  width: 285px;
  font-size: 40px;
  text-transform: uppercase;
}

.name-company{
  color: #fa5559;
  font-size: 20px;
}
.position{
  color: #ccc;
  font-size: 16px;
}

.time-block{
  padding: 15px 5px 15px 45px;
  font-size: 12px;
  background: #fa5559;
  color: #fff;
  width: 200px;
  position: relative;
}

.info-time{
  position: absolute;
  left: -15px;
  top: 25%;
  font-size: 14px;
  text-align: center;
  width: 25px;
  height: 25px;
  background: #fa5559;
  border-radius: 50%;
  border: 3px solid #f0efef;
}

.responsibility{
  white-space: pre-wrap;
  font-size: 16px;
  text-align: right;
}

.company{
  width: 230px;
}

.indent{
  margin-top: 220px;
}

@media only screen and (max-width: 991px){
  .company{
    margin-left: 38%;
  }

  .indent{
    margin-top: 0;
  }
}

.first-job{
  width: 230px;
}

@media only screen and (max-width: 767px){
  .first-job{
    margin-left: 40.5%;
  }
  .company{
    margin-left: 40.5%;
  }
}

@media only screen and (max-width: 405px){
  .first-job{
    margin-left: 33%;
  }
  .company{
    margin-left: 33%;
  }
}
/*EXPIERENCE END*/
/*EDUCATION*/

.expirience{
  display: flex;
  height: 100px;
  margin-bottom: 50px;
  justify-content: center;
}

.study-time{
  box-sizing: content-box;
  color: #fa5559;
  font-size: 24px;
  padding: 10px;

}

.place-of-study{
  border-left: 1px solid #ccc;
  padding: 10px;
  border-left: 1px solid #ccc;
}

.place-of-study p:first-child{
  color: #fa5559;
  font-size: 20px;
}

.place-of-study p:nth-child(2){
  color: #ccc;
}
/*EDUCATION*/

/*LANGUAGE SKILLS*/

.hr{
  margin: 0 auto;
  position: relative;
}

.hr::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ccc;
}

.hr::after{
  content: '';
  position: absolute;
  top: 30px;
  left: 47.5%;
  width: 2px;
  height: 620px;
  background: #ccc;
}

.hr .col-sm-6{
  margin-top: 30px;
}

.hr h2{
  margin: 40px 12% 30px;
  font-weight: bold;
  /*text-transform: uppercase;*/
}

.language-container{
  display: flex;
  justify-content: space-between;
  width: 380px;
  margin: 0 10%;
}

.language-skills{
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 120px;
  width: 380px;
  margin: 10px 10%;
}

.language-skills::before{
  content: '';
  position: absolute;
  top: 12%;
  width: 100%;
  background: #ccc;
  height: 1.5px;
}

.language{
  padding: 5px;
  margin: auto;
  font-size: 17px;
}

.ukraine{
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fa5559;
}

.ukraine::after {
  content: 'УКРАЇНСЬКА';
  transform: rotate(270deg);
  position: absolute;
  top: 70px;
  left: -20px;
}

.russia{
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fa5559;
}

.russia::after {
  content: 'РОСІЙСЬКА';
  transform: rotate(270deg);
  position: absolute;
  top: 70px;
  left: -20px;
}

.english{
  position: relative;
  margin: 0 12% 0 12%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fa5559;
}

.english::after {
  content: 'АНГЛІЙСЬКА';
  transform: rotate(270deg);
  position: absolute;
  top: 70px;
  left: -20px;
}

.about{
  padding: 0 5%;
  margin-bottom: 25px;
}

.social{
  padding: 0 0 40px 0;
  display: flex;
  font-size: 16px;
  justify-content: center;
}

.fb-link {
  width: 160px;
  height: 45px;
  background: url("icon/fb.png") no-repeat;
  background-size: contain;
  line-height: 45px;
}

.in-link {
  width: 175px;
  height: 45px;
  background: url("icon/in.png") no-repeat;
  background-size: contain;
  line-height: 45px;
}
  .social .fb-link a,
 .social .in-link a {
  padding: 15px 0 15px 45px;
  color: #000;
  text-decoration: none;
}

@media only screen and (max-width: 991px){
  .language-container{
    width: 340px;
    margin: 0 auto;
  }
  .language-skills{
    width: 340px;
    margin: 25px auto;
  }
}

@media only screen and (max-width: 767px){
.hr h2{
  margin: 20px auto;
  text-align: center;
  }
.language-container{
  width: 345px;
}
.language-skills{
  width: 330px;
}
.hr::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: none;
}
.work-efficiency{
  height: 155px;
  width: 155px;
}
}

/*LANGUAGE SKILLS END*/
/*SKILLS*/

.efficiency-container{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.work-efficiency{
  width: 175px;
  height: 175px;
  margin-left: -20px;
  border-radius: 50%;
  display: flex;
}

.red{
  background: #c68486;
  z-index: 2;
}

.pink{
  background: #e59d9f;
  z-index: 1;
}

.green{
  background: #f1b6b8;
}

.success{
  align-self: center;
  margin: 0 auto;
  color: #fff;
  font-size: 30px;
}

.flex{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.search-candidates,
.interviewing,
.training {
  margin-left: 10px;
}

.search-candidates::before {
  content: "";
  height: 5px;
  margin-right: 4px;
  border-left: 10px solid #c68486;
  border-right: 10px solid #c68486;
  border-radius: 50%;
}

.interviewing::before {
  content: "";
  height: 5px;
  margin-right: 4px;
  border-left: 10px solid #e59d9f;
  border-right: 10px solid #e59d9f;
  border-radius: 50%;
}

.training::before {
  content: "";
  height: 5px;
  margin-right: 4px;
  border-left: 10px solid #f1b6b8;
  border-right: 10px solid #f1b6b8;
  border-radius: 50%;
}

.inform-text {
  margin: 40px auto;
}

.inform-text p {
  white-space: pre-wrap;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.inform-text p::before {
  content: "";
  height: 5px;
  margin-right: 10px;
  border-left: 10px solid #fa5559;
  border-right: 10px solid #fa5559;
  border-radius: 50%;
}

@media only screen and (max-width: 991px){
.work-efficiency{
  height: 155px;
  width: 155px;
}
}

@media only screen and (max-width: 767px){
  .flex{
    padding-left: 20px;
  }
  .work-efficiency{
    height: 145px;
  }
  .efficiency-container{
    padding-left: 20px;
  }
  }
/*SKILLS END*/
