html,
body {
  padding: 0;
  margin: 0;
  font-family: MyriadProRegular, serif;
  width: 100%;
}

/*HEADER*/

.header {
  margin: 0 auto;
  width: 1366px;
  min-height: 220px;
}

/*Header-Left part*/
.header .header-left {
  margin: 20px auto 0 auto;
  width: 500px;
  height: 200px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.email {
  position: absolute;
  top: 140px;
  left: 10px;
  padding-left: 27px;
  height: 25px;
  width: 200px;
  background: url("icon/sv.png") no-repeat;
  background-size: 25px;
}

.number-phone {
  position: absolute;
  top: 170px;
  left: 10px;
  padding-left: 27px;
  height: 25px;
  width: 205px;
  background: url("icon/phone.png") no-repeat;
  background-size: 25px;
}

.greeting {
  position: absolute;
  top: 5px;
  left: 220px;
  color: #fa5559;
  font-size: 20px;
  transform: rotate(-5deg);
}

.little-decoration {
  position: absolute;
  top: 15px;
  left: 250px;
  margin-top: 10px;
  width: 75px;
  height: 50px;
  background: url("icon/line.png") no-repeat;
  background-size: 70px;
}

.photo {
  margin-left: 325px;
  height: 200px;
  background: url("image/MarinaSebalo.png") no-repeat;
  background-size: 175px;
}
/*Header-left end*/
/*Header-right start*/
.header .header-right {
  text-align: center;
  margin: 20px auto 0 auto;
  width: 650px;
  height: 200px;
  display: inline-block;
  vertical-align: top;
}

.name {
  font-size: 60px;
  color: #fa5559;
}

.specialization {
  font-size: 40px;
}

/*Header-right end*/

.Page-division {
  margin: 0 auto;
  width: 1366px;
  height: 90px;
  background: gray;
}

/*end HEADER*/
/*EXPERIENCE*/

.experience {
  background: #f0efef;
  width: 1366px;
  min-height: 1000px;
  margin: 0 auto;
}

.heading {
  line-height: 1.3;
  width: 280px;
  border-bottom: 3px dotted #fa5559;
  margin: 0 auto 10px auto;
  text-align: center;
  color: #fa5559;
  font-size: 40px;
}

.last-job {
  position: relative;
  margin-top: 200px;
  width: 630px;
  height: 210px;
  white-space: pre-wrap;
  display: inline-block;
}

.description {
  position: absolute;
  top: 0;
  left: 1px;
  width: 390px;
  text-align: right;
}

.image1 {
  position: absolute;
  top: 5px;
  left: 410px;
  width: 220px;
  height: 200px;
  background: url("icon/block1.png") no-repeat;
  background-size: contain;
}

.second-job {
  margin: 45px 0 0 5px;
  position: relative;
  width: 630px;
  height: 350px;
  white-space: pre-wrap;
  display: inline-block;
  vertical-align: top;
}

.image2 {
  position: absolute;
  top: 5px;
  left: 400px;
  width: 250px;
  height: 200px;
  background: url("icon/block2.png") no-repeat;
  background-size: contain;
}


.first-job {
  position: relative;
  width: 1300px;
  height: 100px;
  white-space: pre-wrap;
  text-align: right;
  vertical-align: top;
}

.first-experience {
  position: absolute;
  top: 0;
  left: 635px;
  width: 400px;
  text-align: right;
}


.image3 {
  position: absolute;
  top: -15px;
  left: 1040px;
  width: 250px;
  height: 100px;
  background: url("icon/block3.png") no-repeat;
  background-size: contain;
}

/*education*/

.education {
    width: 1366px;
}

.small-vertical-line {
  position: absolute;
  left: 200px;
  top: 10px;
  height: 100px;
  width: 1px;
}

.higher-education {
  margin-left: 4%;
  position: relative;
  width: 560px;
  height: 160px;
  display: inline-block;
  vertical-align: top;
}

.secondary-education {
  margin-left: 3%;
  position: relative;
  width: 500px;
  height: 150px;
  display: inline-block;
}

.years-of-education {
  position: absolute;
  top: 20px;
  left: 60px;
  margin-top: 10px;
  color: #fa5559;
  font-size: 25px;
}

.position {
  position: absolute;
  left: 210px;
  top: -10px;
  width: 350px;
  line-height: 1.9;
  white-space: pre-wrap;
}

.color-main {
  color: #fa5559;
}

.second-color {
  color: #8f8f90;
}
/*Information about skills*/
.my-skills {
  padding: 6% 0 0 0;
  position: relative;
  width: 1366px;
  height: 620px;
}

/*LEFT BLOCK*/
.left-block {
  float: left;
  margin-left: 2.5%;
  margin-right: 18px;
  width: 630px;
}

.left-block .vertical-separation-line {
  position: absolute;
  left: 683px;
  top: 10px;
  border-left: 1px solid gray;
  height: 650px;
}

.left-block .knowledge-of-languages {
  line-height: 1.4;
  width: 280px;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px dotted #fa5559;
}

.left-block .png4 {
  margin-top: 50px;
  width: 450px;
  height: 200px;
  background: url("icon/lan.png") no-repeat;
  background-size: contain;
}

.title {
  color: #fa5559;
  font-size: 38px;
}

.left-block .personal-description {
  width: 630px;
  margin-top: 18px;
  white-space: pre-wrap;
  text-align: right;
}

.left-block .dotted-line {
  border-bottom: 2px dotted #fa5559;
  width: 380px;
}

.left-block .social {
  margin-top: 40px;
}

.left-block .fb-icon {
  width: 155px;
  height: 45px;
  background: url("icon/fb.png") no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 70px;
}

.left-block .fb-link {
  line-height: 45px;
  text-align: right;
  vertical-align: middle;
  display: inline-block;
}

.left-block .in-icon {
  width: 230px;
  height: 45px;
  background: url("icon/instag.png") no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 70px;
}

.left-block .in-link {
  line-height: 45px;
  text-align: right;
  vertical-align: middle;
  display: inline-block;
}

/*RIGHT BLOCK*/

.right-block {
  float: left;
  margin-left: 40px;
}

.work-efficiency {
  width: 350px;
  height: 150px;
  background: url("icon/circles.png") no-repeat;
  background-size: contain;
  margin-left: 70px;
}

.skills {
  line-height: 1.4;
  width: 280px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px dotted #fa5559;
}

.search-candidates {
  display: inline-block;
  margin: 20px 10px;
}

.search-candidates::before {
  content: "";
  height: 5px;
  margin-right: 4px;
  border-left: 10px solid #c68486;
  border-right: 10px solid #c68486;
  border-radius: 50%;
}

.interviewing {
  display: inline-block;
  margin: 20px 10px;
}

.interviewing::before {
  content: "";
  height: 5px;
  margin-right: 4px;
  border-left: 10px solid #e59d9f;
  border-right: 10px solid #e59d9f;
  border-radius: 50%;
}

.training {
  display: inline-block;
  margin: 20px 10px;
}

.training::before {
  content: "";
  height: 5px;
  margin-right: 4px;
  border-left: 10px solid #f1b6b8;
  border-right: 10px solid #f1b6b8;
  border-radius: 50%;
}

.inform-text {
  margin-top: 50px;
  margin-left: 70px;
}

p {
  white-space: pre-wrap;
}

p::before {
  content: "";
  height: 5px;
  margin-right: 10px;
  border-left: 10px solid #fa5559;
  border-right: 10px solid #fa5559;
  border-radius: 50%;
}





@media screen and (max-width: 1000px) {
  .header {
    max-width: 100%;
  }
  .block1 {
    display: block;
  }
  .block2 {
    display: block;
    height: 150px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    transform: scale(0.8);
    max-width: 100%;
    margin-left: -45px;
  }
  .block1 {
    margin: 0;
    display: block;
    width: 450px;
  }
  .photo {
    margin-left: 290px;
  }

  .block2 {
    width: 450px;
    margin: 0;
    display: block;
    height: 100px;
  }
}
